@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
